extends /layouts/application.pug

block content
  +formFor(f, { url: urlFor('updateTag', f.object.id), method: 'post' })
    +requestMethod('patch')
    +input(f, 'id', { as: 'hidden' })
    +input(f, 'name', { label: 'Name' })
    +button(f)
